# --
# Copyright (C) 2001-2019 OTRS AG, https://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (GPL). If you
# did not receive this file, see https://www.gnu.org/licenses/gpl-3.0.txt.
# --
## nofilter(TidyAll::Plugin::OTRS::TT::Format)
## nofilter(TidyAll::Plugin::OTRS::TT::ScriptUsage)
                    </fieldset>
                </div>
[% RenderBlockStart("Footer") %]
                <div class="PopupFooter">
                    <button class="Primary" id="[% Data.ButtonID | html %]" accesskey="g" title="[% Translate(Data.ButtonTitle) | html %] (g)" type="submit" value="[% Translate(Data.ButtonText) | html %]">[% Translate(Data.ButtonText) | html %]</button>
[% RenderBlockStart("SubmitAdviceText") %]
                    <span class="AdviceText">[% Translate(Data.AdviceText) | html %]</span>
[% RenderBlockEnd("SubmitAdviceText") %]
                </div>
[% RenderBlockEnd("Footer") %]
            </div>
        </form>
    </div>
</div>

[% RenderBlockStart("FooterJS") %]
<script type="text/javascript">
[% PROCESS JSDataInsert %]
[% PROCESS JSOnDocumentCompleteInsert %]
</script>
[% RenderBlockEnd("FooterJS") %]
